body {
    font-family: 'Roboto', sans-serif;
}
/***Navbar***/
.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
/**Footer**/
.my_footer {
    background-color: #f8f9fa;
    height: 60px;
}
.my_footer p {
    padding-top: 20px;
    font-size: 14px;
}
/**Category Page**/
.my_row_class {
    padding-top: 15px;
}
.my_row_class .mx-auto p {
    color: #000;
    font-size: 12px;
}
.my_row_class .mx-auto p a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.my_image {
    width: 100%;
    height: auto;
}
.my_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.my_image_padding {
    padding-top: 5px;
}
.my_bottom_margin {
    margin-bottom: 10px;
}
.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
/**Product Page**/
.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 15px;
}
.my_prod_row_class .mx-auto p {
    color: #000;
    font-size: 12px;
}
.my_prod_row_class .mx-auto p a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.my_prod_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}
.my_prod_text {
    padding-right: 20px;
}
.my_search_text {
    padding-top: 20px;
}
/**Cart Page**/
.my_custom_table {
    min-width: 400 px;
    font-size: 14px;
}
.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa!important;
}
.custom_image {
    width: 100px;
    height: 100px;
}
.custom_a {
    text-decoration: none;
}
.custom_icon {
    text-decoration: none;
    color: #868e96!important;
}
.my_custom_button {
    margin-top: 5px;
}
/**Stripe Button**/
.stripe-button-el {
    width: 100% !important;
    display: block !important;
    background-color: #868e96 !important;
    border: 0px !important
    background-image: none;
}
.stripe-button-el span {
    display: block;
    position: relative;
    padding: 0px 12px;
    height: 36px !important;
    line-height: 36px !important;
    font-family: 'Roboto' sans-serif !important;
    font-size: 16px !important;
    color: #fff !important;
    background-image: none;
    background: none;
}
.errorlist li {
    color: red;
    font-weight: bold;
}
.my_custom_div {
    margin-bottom: 28px !important;
}
.my_top_navbar_div {
    height: 60px;
    line-height: 50px;
}
.my_custom_menu {
    text-align: right !important;
}
.my_custom_menu ul li {
    list-style: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
    padding-right: 20px;
    display: inline;
}
.my_custom_menu ul li a {
    text-decoration: none;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}